@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box !important;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

p {
  line-height: 26px;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #323232;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gameArea-background {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  touch-action: none;
}

#gameArea {
  width: 63%;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  touch-action: none;
}

.disabled {
  pointer-events: none;
}

#gameCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/road.png");
  background-size: cover;
}

#player,
.obstacle,
.coin {
  position: absolute;
  transition: left 0.2s ease-out;
  z-index: 3; /* Ensure game elements are above the background */
}

#player {
  width: 40px;
  height: 51px;
  background-image: url("/assets/player.png"); /* Replace with your player image */
  background-size: cover;
  bottom: 50px;
}

#player.player-init {
  animation: playerinit 1.5s linear 0s forwards;
}

.obstacle {
  width: 30px;
  height: 50px;
  background-size: cover;
  z-index: 5;
}

.obstacle-1 {
  background-image: url("/assets/obstacle1.png");
}

.obstacle-2 {
  background-image: url("/assets/obstacle2.png");
}

.obstacle-3 {
  background-image: url("/assets/obstacle3.png");
}

.obstacle-4 {
  background-image: url("/assets/obstacle4.png");
}

.obstacle-5 {
  background-image: url("/assets/obstacle5.png");
}

.coin {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.coin-gold {
  background-image: url("/assets/coin-gold.png");
}

.coin-silver {
  background-image: url("/assets/coin-silver.png");
}

.coin-bronze {
  background-image: url("/assets/coin-bronze.png");
}

#gameOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 15;
}

.gameOver-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.gameOver-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#startMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #545454;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  z-index: 10;

  background-image: url("/assets/title-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.title-car {
  position: absolute;
  bottom: 0;
  width: 45%;
  opacity: 0;
  animation: titlecar 15s linear 1s infinite;
}

.more-menu {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#gameOver {
  display: none;
}

#explosion {
  position: absolute;
  display: none;
  width: 100px;
  z-index: 10;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

#countdown {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  z-index: 1;
}

#settingModal {
  background-color: #267ae9;
}

.setting-button {
}

.setting-row {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-tnc {
  justify-content: center;
}

#link-tnc {
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
}

.checkbox-main {
  width: 30px;
  height: 30px;
  background-image: url("/assets/checkbox.png");
  background-position: center;
  background-size: 100%;
}

.checkbox-main .checkbox-tick-img {
  width: 30px;
  height: 30px;
}

.game-button.setting-button img {
  width: 30px;
}

.tnc-inner {
  height: 400px;
  overflow: auto;
}

.title-logo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 50%;
}

.axs-title {
  width: 85%;
  max-width: 205px;
  margin-bottom: 10px;
}

.speed-title {
  width: 100%;
  max-width: 250px;
  transform-origin: top center;
  animation: swing 10s linear 2s infinite;
}

#startButton {
  width: 45%;
  max-width: 250px;
}

#score {
  position: absolute;
  top: 20px;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  padding: 5px;
  z-index: 9;
}

.score-setting {
  color: #fff;
}

.game-menu-button-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  z-index: 3;
}

.menu-button {
  width: 35%;
  max-width: 175px;
}

.game-button {
  transition: transform 0.05s;
  max-width: 175px;
}

.game-button:active {
  transform: translateY(2px);
}

.game-button img {
  width: 100%;
}

.pause-button {
  width: 3vh;
  min-width: 30px;
  max-width: 40px;
  position: absolute;
  top: 15px;
  left: 20px;
}

/* Pop Container */
.pop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  width: 85%;
  min-height: 50vh;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 4px solid #000;

  z-index: 15;
  background-color: #2bbfcf;
  -webkit-box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  -moz-box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  /* background-image: url("https://cdn.jsdelivr.net/gh/Joctory/Game-O-Matic-Game@latest/assets/menu/box-orange.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.pop-container-inner {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-container-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-title {
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
}

.game-button.closeBtn .close-img {
  width: 25px;
  cursor: pointer;
}

.pop-container.active {
  animation: popUp 0.25s ease forwards;
}

.pop-container.closed {
  animation: popDown 0.25s ease forwards;
}

/* Leaderboard */
#leaderboardModal {
  background-color: #ffda44;
  -webkit-box-shadow: inset 4px -4px 0px 0px #cda400, inset -4px 4px 0px 0px #ffe990;
  -moz-box-shadow: inset 4px -4px 0px 0px #cda400, inset -4px 4px 0px 0px #ffe990;
  box-shadow: inset 4px -4px 0px 0px #cda400, inset -4px 4px 0px 0px #ffe990;
}

#leaderboard {
  width: 100%;
  color: #fff;
  /* background: #000; */
  /* padding: 10px; */
  box-sizing: border-box;
  overflow: auto;
}

#leaderboard .row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #afafaf;
}

#leaderboard .name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

#leaderboard .score {
  position: relative;
  display: inline-block;
  width: 25%;
}

#leaderboard .row:nth-child(1) {
  background: gold;
}

#leaderboard .row:nth-child(2) {
  background: #c0c0c0;
}

#leaderboard .row:nth-child(3) {
  background: #cd7f32;
}

.form-finish {
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  z-index: 20;
}

#leaderboardForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#leaderboardForm input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

/* How to play Modal */
#howtoplayModal {
}

#howtoplay {
  width: 100%;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

/* Credit Modal */
#creditModal {
}

#credit {
  width: 100%;
  color: #000;
  padding: 10px;
  box-sizing: border-box;
}

/* overlay */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

/* Animation */
@keyframes popUp {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
  65.5% {
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes popDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  65.5% {
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
    visibility: hidden;
  }
}

@keyframes titlecar {
  0% {
    transform: scale(0);
    bottom: 5%;
    opacity: 1;
  }
  30% {
    transform: scale(0.4);
    bottom: 0%;
    opacity: 1;
  }
  60% {
    transform: scale(0.8);
    bottom: 0%;
    opacity: 1;
  }
  80% {
    transform: scale(1.2);
    bottom: 0%;
    opacity: 1;
  }
  90% {
    transform: scale(1.5);
    bottom: -50%;
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    bottom: -90%;
    opacity: 1;
  }
}

@keyframes swing {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

@keyframes playerinit {
  0% {
    transform: translate(200%, 200%);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
