@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* For Wordpress Elementor */
.elementor,
.elementor > * {
  width: 100%;
  height: 100%;
}

body {
  touch-action: pan-y pan-x;
}

button:active,
button:hover {
  background-color: #fff0;
  text-decoration: none;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box !important;
}

body {
  touch-action: pan-y pan-x;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

p {
  line-height: 26px;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #323232;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.gameArea-background {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 1500px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  touch-action: none;
}

#gameArea,
#htpgameArea {
  width: 66%;
  max-width: 330px;
  position: relative;
  overflow: hidden;
  touch-action: none;
}

.disabled {
  pointer-events: none;
}

.htp-div {
  display: none;
  width: 100%;
  height: 100%;
  max-width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/assets/road.png");
  background-size: cover;
  z-index: 5;
}

#htpgameArea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

#htp-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

#htp-main .htp-coin-gold,
#htp-main .htp-coin-silver,
#htp-main .htp-coin-bronze,
#htp-main .htp-obstacle,
#htp-main #htpplayer,
#htp-main #htpexplosion,
#htp-main #htp-car-crash-part {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#htp-main #htp-car-crash-part {
  bottom: 50px;
  width: 100px;
  height: 185px;
}

#htp-main .htp-coin-gold {
  bottom: 500px;
}

#htp-main .htp-coin-silver {
  bottom: 400px;
}

#htp-main .htp-coin-bronze {
  bottom: 300px;
}

#htp-main .htp-obstacle {
  bottom: 90px;
}

#htp-main #htpplayer {
  bottom: 0px;
  transition: bottom 0.5s ease-in-out;
}

#htp-main #htpplayer.played {
  bottom: 27px;
}

#htp-main #htpexplosion {
  bottom: 15px;
}

/* HTP Driver */
.HTParea {
  border-radius: 0;
  border: 4px solid #000;
  background-color: #2bbfcf;
  -webkit-box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  -moz-box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
}

.driver-popover-arrow-side-top.driver-popover-arrow-align-end {
  left: 50px;
  right: auto;
}

.driver-popover-title,
.driver-popover-description {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.driver-popover-title {
  font-size: 1rem !important;
}

.driver-popover-description {
  font-size: 0.7rem !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
}

.driver-popover-navigation-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.driver-popover-prev-btn,
.driver-popover-next-btn {
  width: 50% !important;
  text-align: center !important;
  font-family: "Press Start 2P", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
  border-radius: 0 !important;
  height: 50px !important;
  font-size: 0.65rem !important;
  color: #fff !important;
  text-shadow: none !important;
}

.driver-popover-prev-btn {
  background-color: #fa8132 !important;
  border: 2px solid #000 !important;
}

.driver-popover-next-btn {
  background-color: #88e060 !important;
  border: 2px solid #000 !important;
}

#gameCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-image: url("/assets/road.png");
  background-size: cover;
}

#snowCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#player,
.obstacle,
.coin {
  position: absolute;
  transition: left 0.2s ease-out;
  z-index: 3; /* Ensure game elements are above the background */
}

#startline {
  width: 100%;
  max-width: 318px;
  bottom: 120px;
  left: 6px;
  position: absolute;
}

#startline.started {
  bottom: -265px;
  transition: bottom 2.55s linear;
}

.startline-img {
  width: 100%;
}

#player,
#htpplayer {
  width: 54px;
  height: 68px;
  background-image: url("/assets/player.png"); /* Replace with your player image */
  background-size: cover;
  bottom: 50px;
}

#player.player-init {
  animation: playerinit 1.5s linear 0s forwards;
}

#player.player-left {
  animation: carleft 0.3s ease-in-out forwards;
}

#player.player-right {
  animation: carright 0.3s ease-in-out forwards;
}

.obstacle {
  width: 45px;
  height: 72px;
  background-size: cover;
  z-index: 5;
}

.obstacle-1 {
  background-image: url("/assets/obstacle1.png");
}

.obstacle-2 {
  background-image: url("/assets/obstacle2.png");
}

.obstacle-3 {
  background-image: url("/assets/obstacle3.png");
}

.obstacle-4 {
  background-image: url("/assets/obstacle4.png");
}

.obstacle-5 {
  background-image: url("/assets/obstacle5.png");
}

.coin {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.coin-gold {
  background-image: url("/assets/coin-gold.png");
}

.coin-silver {
  background-image: url("/assets/coin-silver.png");
}

.coin-bronze {
  background-image: url("/assets/coin-bronze.png");
}

#gameOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 15;
}

.gameOver-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}

.gameOver-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#startMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #545454;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  z-index: 10;

  background-image: url("/assets/title-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.snowScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -2vh;
  left: 0;
  z-index: 1;
  transform: scale(3.5);
}

.title-car-main {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-car {
  position: absolute;
  width: 38vh;
  opacity: 0;
  transform-origin: bottom;
  animation: titlecar 15s linear 1s infinite;
}

.title-road {
  width: 46vh;
}

.more-menu {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#gameOver {
  display: none;
}

#explosion,
#htpexplosion {
  position: absolute;
  display: none;
  width: 100px;
  z-index: 10;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}

#countdown {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  z-index: 1;
}

#settingModal {
  background-color: #267ae9;
}

.setting-button {
}

.setting-row {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-tnc {
  width: 100%;
  justify-content: center;
}

#link-tnc {
  position: absolute;
  bottom: 20px;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: underline;
}

.checkbox-main {
  width: 30px;
  height: 30px;
  background-image: url("/assets/checkbox.png");
  background-position: center;
  background-size: 100%;
}

.checkbox-main .checkbox-tick-img {
  width: 30px;
  height: 30px;
}

.game-button.setting-button img {
  width: 30px;
}

.tnc-inner {
  height: 400px;
  overflow: auto;
}

.title-logo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 50%;
  z-index: 2;
}

.axs-title {
  width: 85%;
  max-width: 205px;
  margin-bottom: 10px;
}

.speed-title {
  width: 100%;
  max-width: 250px;
  opacity: 0;
}

.speed-title.entrance {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s forwards, swing 10s linear 3.7s infinite;
}

#startButton {
  width: 45%;
  max-width: 250px;
}

.score-info {
  position: absolute;
  top: 20px;
  z-index: 9;
}

#score {
  color: #fff;
  background-color: #000;
  font-size: 12px;
  padding: 5px;
}

#coin {
  opacity: 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  padding: 5px;
  margin-top: 15px;
}

#coin.show {
  animation: coinshow 0.8s ease-in-out forwards;
}

#coin.gold {
  color: #ecc905;
}

#coin.silver {
  color: #cccccc;
}

#coin.bronze {
  color: #8f563b;
}

#finalScore {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px 20px;
  border: 4px solid #000;
  background-color: #2bbfcf;
  -webkit-box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  -moz-box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
}

#finalScore.scale {
  animation: revealScore 0.3s linear forwards;
}

.gameOver-coin {
  width: 40px;
  margin-bottom: 10px;
}

#coinCounts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

#goldCoins,
#silverCoins,
#bronzeCoins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-setting {
  color: #fff;
}

.game-menu-button-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  z-index: 3;
  opacity: 0;
}

.game-menu-button-main.entrance {
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s forwards;
}

.menu-button {
  width: 35%;
  max-width: 175px;
}

.game-button {
  transition: transform 0.05s;
  max-width: 175px;
}

.game-button:active {
  transform: translateY(2px);
}

.game-button img {
  width: 100%;
}

#pauseModal {
  min-height: 35vh;
  max-height: 30px;
}

.pause-button {
  width: 3vh;
  min-width: 30px;
  max-width: 40px;
  position: absolute;
  top: 15px;
  left: 20px;
}

/* Pop Container */
.pop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  width: 85%;
  min-height: 40vh;
  height: 100%;
  max-height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 4px solid #000;

  z-index: 15;
  background-color: #2bbfcf;
  -webkit-box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  -moz-box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
  box-shadow: inset 4px -4px 0px 0px #0458a2, inset -4px 4px 0px 0px #34ebff;
}

.pop-container-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pop-container-inner-head {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  min-height: 60px;
  background-color: #ab3213;
  border: 3px solid rgb(123, 35, 14);
}

.pop-container-inner-head::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  background-image: url("/assets/header-border.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.pop-container-info {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 20px;
}

.modal-title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
}

.game-button.closeBtn .close-img {
  width: 25px;
  cursor: pointer;
}

.pop-container.active {
  animation: popUp 0.25s ease forwards;
}

.pop-container.closed {
  animation: popDown 0.25s ease forwards;
}

/* Leaderboard */
#leaderboardModal {
  max-height: 65vh;
  background-color: #ffda44;
  -webkit-box-shadow: inset 4px -4px 0px 0px #cda400, inset -4px 4px 0px 0px #ffe990;
  -moz-box-shadow: inset 4px -4px 0px 0px #cda400, inset -4px 4px 0px 0px #ffe990;
  box-shadow: inset 4px -4px 0px 0px #cda400, inset -4px 4px 0px 0px #ffe990;
}

#leaderboardModal .pop-container-inner-head {
  height: 20%;
}

#leaderboard {
  width: 100%;
  color: #fff;
  /* background: #000; */
  /* padding: 10px; */
  box-sizing: border-box;
  overflow: auto;
  pointer-events: none;
  overflow: hidden;
  touch-action: none;
}

#winner-iframe {
  pointer-events: none;
  overflow: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: unset;
}

#leaderboard .row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #afafaf;
}

#leaderboard .name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
}

#leaderboard .score {
  position: relative;
  display: inline-block;
  width: 25%;
}

#leaderboard .row:nth-child(1) {
  background: gold;
}

#leaderboard .row:nth-child(2) {
  background: #c0c0c0;
}

#leaderboard .row:nth-child(3) {
  background: #cd7f32;
}

.form-finish {
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  z-index: 20;
}

#leaderboardForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

#leaderboardForm .leaderboardForm-h3 {
  font-size: 1rem;
  margin-top: 30px;
}

#leaderboardForm input {
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.form-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000091;
}

.form-loader dotlottie-player {
  width: 50%;
}

#leaderboardForm .form-submit-button {
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 0;
  border: 0;
  background: none;
}

#leaderboardForm .form-skip-button {
}

#submit-error {
  display: none;
  color: #ff0000;
  font-size: 0.8rem;
}

/* How to play Modal */
#howtoplayModal {
}

#howtoplay {
  width: 100%;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

/* Credit Modal */
#creditModal {
}

#credit {
  width: 100%;
  color: #000;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

#credit p {
  font-size: 0.9rem;
}

/* overlay */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

/* Init Game Loader */
.init-loader-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: #7de0e9;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.init-text {
  font-size: 1.2rem;
  color: #fff;
}
/* .init-loader {
  margin-top: 10px;
  position: relative;
  display: block;
  height: 12px;
  width: 50%;
  border: 2px solid #000000;
  overflow: hidden;
}

.init-loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #26bed0;
  animation: loading 20s linear forwards;
}

.loaded.init-loader:after {
  animation: loading-loaded 1s linear forwards;
}

.init-loader-main.remove {
  animation: initloadremove 0.4s linear forwards;
} */

@media screen and (max-width: 410px) {
  #startButton {
    width: 50%;
  }

  .menu-button {
    width: 40%;
  }
}

/* Animation */
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  5% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    width: 0; /* Start at 0% */
  }
  10% {
    width: 20%;
  }
  60% {
    width: 60%;
  }
  80% {
    width: 75%;
  }
  100% {
    width: 80%; /* Hold at 90% */
  }
}

@keyframes initloadremove {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes loading-loaded {
  0% {
    width: 80%;
  }
  90% {
    width: 95%;
  }
  100% {
    width: 100%;
  }
}

@keyframes popUp {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
  65.5% {
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes popDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  65.5% {
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
    visibility: hidden;
  }
}

@keyframes titlecar {
  0% {
    transform: scale(0);
    bottom: 90%;
    opacity: 1;
  }
  10% {
    transform: scale(0.2);
    bottom: 99%;
    opacity: 1;
  }
  30% {
    transform: scale(0.6);
    bottom: 0%;
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    bottom: 0%;
    opacity: 1;
  }
  70% {
    transform: scale(1.1);
    bottom: -30%;
    opacity: 1;
  }
  85% {
    transform: scale(1.2);
    bottom: -150%;
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    bottom: -300%;
    opacity: 1;
  }
}

@keyframes swing {
  10% {
    transform-origin: top center;
    transform: rotate(15deg);
  }
  20% {
    transform-origin: top center;
    transform: rotate(-10deg);
  }
  30% {
    transform-origin: top center;
    transform: rotate(5deg);
  }
  40% {
    transform-origin: top center;
    transform: rotate(-5deg);
  }
  50% {
    transform-origin: top center;
    transform: rotate(0deg);
  }
}

@keyframes playerinit {
  0% {
    opacity: 0;
    transform: translate(200%, 200%);
  }
  50% {
    opacity: 1;
    transform: translate(200%, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes carleft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes carright {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes coinshow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  10% {
    opacity: 1;
    transform: translateY(-20px);
  }
  20% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    opacity: 1;
    transform: translateY(-10px);
  }
  90% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes revealScore {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
